@import '../../../../../styles/variable';

.chat-message {
  padding: .75em 1.25em;
  .message {
    color:darken($grey, 30%);
    font-weight: 300;
    font-size: 1em;
    margin-top: 0.25em;
  }
  .image-wrapper {
    img {
      margin-right: 1em;
      height: 75px;
      width: 75px;
    }
  }
  .name {
    margin-right: .5em;
    font-weight: 400;
    font-size: 1em;
  }
  .timestamp {
    color: darken($light-grey, 30%);
    font-weight: 300;
    font-size: .65em;
  }
  .file-upload{
    img{
      max-width: 250px;
      max-height: 250px;
    }
  }
}
