<div class="chat-message d-flex">
  <div class="image-wrapper" [routerLink]="'/profile/'+ msg.sender.id">
    <img [src]="msg.sender.photoUrl" class="rounded-circle">
  </div>
  <div class="buble d-flex flex-column">
    <div class="d-flex align-items-baseline">
        <span class="name">{{msg.sender.firstName}} {{msg.sender.lastName}}</span><span class="timestamp">{{msg.createdAt.toDate() | date:'medium'}}</span>
    </div>
    <div class="message">
      {{msg.message}}
    </div>
  </div>
</div>
