<div class="new-message-wrapper">
  <div class="input-group">
    <input [(ngModel)]="newMsgText" type="text" class="form-control" placeholder="Enter a new message" (keyup.enter)="submit(newMessage.value)" #newMessage>

      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputFile" (change)="uploadFile($event)">
        <label #labelImport class="custom-file-label" for="inputFile">Choose file</label>
      </div>
      <button class="btn btn-primary" type="button" (click)="submit(newMessage.value)">Enter</button>
      <div #overlay id="overlay" class="overlay">
        <div class="spinner-border loading-overlay" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
  </div>
</div>
